[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Python
# Wagtail
wagtail = "*" # <2.15,>=2.14.1
# Django 
django = "*"
# 3rd party
whitenoise = {version = "*", extras = ["brotli"]}
minify-html = "*"
# Uvicorn
uvicorn = {version = "*", markers = "sys_platform != 'win32'", extras = ["standard"]}
# Gunicorn
gunicorn = {version = "*", markers = "sys_platform != 'win32'", extras = ["gevent","setproctitle"]}

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
prod = "gunicorn core.asgi:application -w 4 -k uvicorn.workers.UvicornWorker" # For linux only
dev = "python manage.py runserver"
collectstatic = "python ./manage.py remove_unnecessary_files"
