[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Wagtail
wagtail = "*" # <2.15,>=2.14.1
# Django 
django = "*" # 3.2.8
whitenoise = {version = "*", extras = ["brotli"]} # Serve static files
django-strip-whitespace = "*" # Minify html
# Servers
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
collectstatic = "python ./manage.py collectstatic_rewired"
dev = "uvicorn core.asgi:application --reload"
prod = "gunicorn core.asgi:application -w 4 -k uvicorn.workers.UvicornWorker" # For linux only
