<div
    x-init="
        () => {

            for (let i = 0; i < $el.childNodes.length; i++) {
                const element = $el.childNodes[i];
                switch (element.tagName) {
                    case 'H2': {
                        element.classList.add('is-size-2');
                        break;
                    }
                    case 'H3': {
                        element.classList.add('is-size-3');
                        break;
                    }
                    case 'H4': {
                        element.classList.add('is-size-4');
                        break;
                    }
                    case 'P': {
                        element.classList.add('is-size-5');
                        break;
                    }
                }
            }
        }
    "
>
    {{self}}
</div>
