#footer-item {
    color: hsl(0, 0%, 65%) !important;
    font-family: 'Ubuntu', serif;
}
#footer-item > a {
    color: hsl(0, 0%, 95%);
    transition: 0.2s;
}

#footer-item > canvas {
    position: absolute;
    z-index: -1;
}
#footer-item > #footer-particle-div {
    position: absolute;
}
.django-color:hover {
    color: #44b78b !important;
}
.bulma-color:hover {
    color: #00d1b2 !important;
}

#footer-item img {
    filter: gray;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: 0.2s;
}

#footer-item img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}
