html {
    background-color: var(--html-color) !important;
    scrollbar-width: thin;
}
body {
    overflow-x: hidden;
}
ion-icon {
    pointer-events: none;
}
[x-cloak] {
    display: none !important;
}
.is-position-absolute {
    position: absolute !important;
}
