{% load static %} {% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
            {% if page.seo_title %} {{ page.seo_title }} {% else %}
            {{page.title}} {% endif %}
        </title>

        <link
            async
            rel="stylesheet"
            href="{% static 'core/fonts/Ubuntu/Ubuntu.css' %}"
        />

        <link
            async
            rel="stylesheet"
            href="{% static 'core/fonts/Cantarell/Cantarell.css' %}"
        />
        <link
            async
            rel="stylesheet"
            href="{% static 'core/fonts/Roboto/Roboto.css' %}"
        />
        <link
            async
            rel="stylesheet"
            href="{% static 'core/fonts/Lato/Lato.css' %}"
        />

        <link
            async
            rel="stylesheet"
            href="{% static 'core/vendor/bulma/bulma.min.css' %}"
        />

        <link
            async
            rel="stylesheet"
            defer
            href="{% static 'core/css/root.css' %}"
        />
        <link
            async
            rel="stylesheet"
            defer
            href="{% static 'core/css/main.css' %}"
        />

        <link
            rel="stylesheet"
            defer
            href="{% static 'core/vendor/tippy/tippy.css' %}"
        />
        <link
            defer
            rel="stylesheet"
            href="{% static 'core/vendor/progressive-image/progressive-image.css' %}"
        />

        {% block head %} {% endblock %}
    </head>
    <body>
        {% block body %} {% endblock %}

        <script
            defer
            src="{% static 'core/vendor/animejs/anime.min.js' %}"
        ></script>
        <script
            defer
            type="module"
            src="{% static 'core/vendor/ionicons/ionicons.esm.js' %}"
        ></script>
        <script
            defer
            nomodule
            src="{% static 'core/vendor/ionicons/ionicons.js' %}"
        ></script>

        <script
            defer
            src="{% static 'core/vendor/particles.js/particles.min.js' %}"
        ></script>

        <script
            defer
            src="{% static 'core/vendor/progressive-image/progressive-image.js' %}"
        ></script>

        <script
            defer
            src="{% static 'core/vendor/tippy/popper.min.js' %}"
        ></script>
        <script
            defer
            src="{% static 'core/vendor/tippy/tippy.umd.min.js' %}"
        ></script>

        <script
            defer
            src="{% static 'core/vendor/alpine/collapse.min.js' %}"
        ></script>
        <script
            defer
            src="{% static 'core/vendor/alpine/trap.min.js' %}"
        ></script>
        <script
            defer
            src="{% static 'core/vendor/alpine/alpine.min.js' %}"
        ></script>

        <script>
            document.addEventListener('alpine:init', () => {
                const mediaQuery = window.matchMedia('(max-width: 768px)');

                function handleWindowChange(e) {
                    return e.matches;
                }
                window.addEventListener('resize', () => {
                    switch (handleWindowChange(mediaQuery)) {
                        case true:
                            Alpine.store('is_mobile', true);
                            break;
                        case false:
                            Alpine.store('is_mobile', false);
                            break;
                    }
                });

                Alpine.store('is_mobile', handleWindowChange(mediaQuery));
            });
        </script>
    </body>
</html>
{% endspaceless %}
