{% load static %} {% spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
            {% if page.seo_title %} {{ page.seo_title }} {% else %}
            {{page.title}} {% endif %}
        </title>

        <link
            async
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/typeface-ubuntu@1.1.13/index.min.css"
        />

        <link
            async
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/typeface-cantarell@1.1.13/index.min.css"
        />
        <link
            async
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/typeface-roboto@1.1.13/index.min.css"
        />
        <link
            async
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/typeface-lato@1.1.13/index.min.css"
        />

        <link
            async
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
            integrity="sha256-UDtbUHqpVVfXmdJcQVU/bfDEr9xldf3Dbd0ShD0Uf/Y="
            crossorigin="anonymous"
        />
        <link
            defer
            rel="stylesheet"
            defer
            href="{% static 'core/css/root.css' %}"
        />
        <link
            defer
            rel="stylesheet"
            defer
            href="{% static 'core/css/main.css' %}"
        />

        <link
            defer
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/progressive-image.js@1.6.1/dist/progressive-image.css"
        />

        {% block head %} {% endblock %}
    </head>
    <body>
        {% block body %} {% endblock %}

        <script
            defer
            src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"
            integrity="sha256-XL2inqUJaslATFnHdJOi9GfQ60on8Wx1C2H8DYiN1xY="
            crossorigin="anonymous"
        ></script>
        <script
            type="module"
            src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.js"
        ></script>

        <script
            defer
            src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"
        ></script>

        <script
            defer
            src="https://cdn.jsdelivr.net/npm/progressive-image.js@1.6.1/dist/progressive-image.js"
        ></script>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/tippy.js@6.3.5/dist/tippy-bundle.umd.min.js"></script>

        <script
            defer
            src="https://cdn.jsdelivr.net/npm/@alpinejs/trap@3.5.0/dist/cdn.min.js"
            integrity="sha256-LjeZnVoPpHu+fMjF0yT6+xBMIOp4N+UIeaoaQhWzbmo="
            crossorigin="anonymous"
        ></script>
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.5.0/dist/cdn.min.js"
            integrity="sha256-GH2idS1T4uiyMQl4mJGLFMWN6eK9SSmPNeb2uyCXtAU="
            crossorigin="anonymous"
        ></script>

        <script
            defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.5.0/dist/cdn.min.js"
            integrity="sha256-citN+YndvSdYKmBlLh74TAbm0hKaXPOrawmO7Cu5WN4="
            crossorigin="anonymous"
        ></script>

        <script>
            document.addEventListener('alpine:init', () => {
                // Create a condition that targets viewports at least 768px wide
                const mediaQuery = window.matchMedia('(max-width: 768px)');

                function handleWindowChange(e) {
                    // Check if the media query is true
                    return e.matches;
                }
                // Change the store's value
                window.addEventListener('resize', () => {
                    switch (handleWindowChange(mediaQuery)) {
                        case true:
                            Alpine.store('is_mobile', true);
                            break;
                        case false:
                            Alpine.store('is_mobile', false);
                            break;
                    }
                });
                // Init the store.
                Alpine.store('is_mobile', handleWindowChange(mediaQuery));
            });
        </script>
    </body>
</html>
{% endspaceless %}
